<a href="https://colab.research.google.com/github/arpit1012/data-science-project/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd

In [21]:
df=pd.read_csv("glassdoor_jobs.csv")

In [22]:
df.head()

   Unnamed: 0  ...                                        Competitors
0           0  ...                                                 -1
1           1  ...                                                 -1
2           2  ...                                                 -1
3           3  ...  Oak Ridge National Laboratory, National Renewa...
4           4  ...               Commerce Signals, Cardlytics, Yodlee

[5 rows x 15 columns]

In [23]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

REMOVE THE DATA WHERE SALARY EQUAL TO -1

In [24]:
df=df[df['Salary Estimate']!='-1']

In [25]:
df.shape

(742, 17)

Now i split data salary so that it contain only integer

In [26]:
salary=df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [27]:
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

Remove dollar and k sign

In [28]:
minus_kd= salary.apply(lambda x: x.replace('K','').replace("$",""))

In [29]:
minus_kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [31]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [32]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

#Company name text only

In [33]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)


#state field

In [34]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()

df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

#age of company

In [35]:
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)

##parsing of job description (python, etc.)

In [36]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

#r studio

In [37]:
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [42]:
df_out = df.drop(['Unnamed: 0'], axis =1)

df_out.to_csv('salary_data_cleaned.csv',index = False)

In [43]:
df

     Unnamed: 0                                          Job Title  ... aws excel
0             0                                     Data Scientist  ...   0     1
1             1                          Healthcare Data Scientist  ...   0     0
2             2                                     Data Scientist  ...   0     1
3             3                                     Data Scientist  ...   0     0
4             4                                     Data Scientist  ...   0     1
..          ...                                                ...  ...  ..   ...
950         950           Sr Scientist, Immuno-Oncology - Oncology  ...   1     0
951         951                               Senior Data Engineer  ...   1     0
952         952  Project Scientist - Auton Lab, Robotics Institute  ...   0     1
953         953                               Data Science Manager  ...   0     1
955         955          Research Scientist – Security and Privacy  ...   0     0

[742 rows x 29 columns]